<div class="container  animate__animated animate__zoomIn" *ngIf="infoData">
  <table class="table">
    <tbody>
      <tr>
        <th class="first-column" scope="row">{{ 'INFO.FILE' | translate }}</th>
        <td>{{ infoData.name }}</td>
      </tr>
      <tr>
        <th class="first-column"  scope="row">{{ 'INFO.PATH' | translate }}</th>
        <td>{{ infoData.path }}</td>
      </tr>
      <tr>
        <th class="first-column"  scope="row">{{ 'INFO.ENVIRONMENT' | translate }}</th>
        <td>{{ infoData.currentEnvironment }}</td>
      </tr>
      <tr>
        <th class="first-column"  scope="row">{{ 'INFO.USER' | translate }}</th>
        <td>{{ infoData.user }}</td>
      </tr>
      <tr>
        <th class="first-column"  scope="row">{{ 'INFO.ENVIRONMENT_VARIABLES' | translate }}</th>
        <td>
          <pre>{{ infoData.configuration | json }}</pre>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error }}
</div>